{% extends "base.html" %}

{% block container_content %}
<div class="container">
  <div class="form-signin">
    <h2 class="form-signin-heading">{{ hack_name }} Hack</h2>
    <ul>
      {% for hack in hacks %}
      <a href="{{ hack.hack_url }}">{{ hack.hack_name }}</a> by {{ hack.hack_members }}
      {% if hack.hack_submitter == me %}
      <form method="post" action="/delete" style="display:inline;">
	<button name="action_delete" type="submit" class="btn btn-mini btn-danger">Delete</button>
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      </form>
      {% endif %}
      </span>
      {% endfor %}
    </ul>
    <a href="/form"><button class="btn btn-primary">Submit Hack</button></a>
  </div>
</div>
{% endblock %}
