{% extends "bootstrap_responsive.html" %}

{% block style %}
{{super()}}
<style type="text/css">
  body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  }
  
  .form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
  margin-bottom: 10px;
  }
</style>
{% endblock %}

{% block body_content %}
<div class="container">
  <form class="form-signin" method="post" action="/tos">
    <h2 class="form-signin-heading">Hackinabox</h2>
    <label class="checkbox"><input type="checkbox" class="input-block-level" name="ingress">Share your likes, listens, watches and runs with the EPFL hackers (By checking this box you agree to let the other EPFL hackers use your data for the duration of the EPFL hack)</label>
    <label class="checkbox"><input type="checkbox" class="input-block-level" name="egress">Download the data shared by EPFL hackers (By checking this box you agree to only use the dataset in your EPFL hack and delete all copies of the dataset at the end of the hack)</label>
    <button name="action_save" type="submit" class="btn btn-large btn-primary">I agree</button>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  </form>
</div>
{% endblock %}
